<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773213211628-5q6pn8r6cp31g6d401g7s80s9gen6k6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773213211628-5q6pn8r6cp31g6d401g7s80s9gen6k6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDINnEkPtHvRM22aI9drN4KkS8ERgKXo9o</string>
	<key>GCM_SENDER_ID</key>
	<string>773213211628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gskfirebase1</string>
	<key>PROJECT_ID</key>
	<string>gskfirstfirbase</string>
	<key>STORAGE_BUCKET</key>
	<string>gskfirstfirbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773213211628:ios:5e5833edffdae6baa54ec9</string>
</dict>
</plist>